/app/StyleMe
/app/fabric.properties
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/art/fourth.jpg
/art/third.jpg
/art/secon.jpg
/art/fifth.jpg
/art/10.png
/art/2.png
/art/9.png
/art/3.png
/art/8.png
/art/120x180.psd
/.idea
/art/180x120.png
/art/4.png
/art/6.png
/art/5.png
/art/7.png
/art/1.png
/art/playstore
/FastAccess(FloatingToolbox).iml
/app/src/main/res/xml/app_tracker.xml
